{% extends 'layout.njk' %}

{% block title %}
    <title> WarFace | Pro Players</title>
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="box-audio">

            <audio>
                <source src="/assets/warfaceTheme.mp3" >
            </audio>
            
            <span>
            </span>
            <p>warface <br/> theme</p>
            
        </div>

        <div class="background-container"></div>
        <img src="/assets/wf-home-gif.gif">
        <div class="box-container">
            <span>world</span>
            <h1>warface</h1>
            <a href="#home">pro players</a>
        </div>

        <div class="videos-container">
            <div class="iframes">
                <iframe 
                    src="https://www.youtube.com/embed/zyQqLH58xQQ?autoplay=1"
                ></iframe>
                <iframe 
                    src="https://www.youtube.com/embed/2c1GC3am2-8?autoplay=1"
                ></iframe>
            </div>

            <div class="iframes">
                <iframe 
                    src="https://www.youtube.com/embed/pLG110Ew8ME?autoplay=1"
                ></iframe>
                <iframe 
                    src="https://www.youtube.com/embed/oEon_CNv46c?autoplay=1"
                    frameborder="0"
                ></iframe>        
            </div>
        </div>
        
    </div>

    <div id="home" class="header">
        <a href="#">GO GO GO</a>
    </div>


{% endblock content %}