{% extends 'layout.njk' %}

{% block title %}
    <title> WarFace | Pro Players</title>
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="box-audio">

            <audio>
                <source src="/assets/warfaceTheme.mp3" >
            </audio>
            
            <span>
            </span>
            <p>warface <br/> theme</p>
            
            <!--<i class="fa fa-pause-circle"></i>
-->
        </div>

        <div class="background-container"></div>
        <img src="/assets/wf-home-gif.gif">
        <div class="box-container">
            <span>mundo</span>
            <h1>warface</h1>
            <a href="#home">pro players</a>
        </div>
    </div>

    <div id="home" class="header">
        <a href="#">GO GO GO</a>
    </div>


{% endblock content %}