body {
    background-color: var(--background-800);
}

.container {
    color: var(--white);
    font-family: 'Qahiri', sans-serif;
    height: 100vh;
    width: 100%;
    position: relative;
    border-bottom: solid 1px black;
}

.container .box-audio {
    z-index: 10;
    position: absolute;
    top: 5vh;
    left: 5vw;
    box-shadow: 0 0 10px var(--white);
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    border-radius: 5px;

}

.container .box-audio audio {
    display: none
}

.container .box-audio span {
    cursor: pointer;
}

span.active {
    transition: all 1s;
    animation: span ease-in-out infinite 0.7s;
}

@keyframes span {
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.1);
    }
}

.container .box-audio i {
    transform: scale(1.5);
}

.container .box-audio p {
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Poppins', 'sans-serif';
    font-size: 12px;
    line-height: 12px;
    text-align: left;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: var(--background-800);
    mix-blend-mode: hard-light;

    z-index: 5;
}

.container img {
    width: 100%;
    height: 100%;
}

.container .box-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: var(--white);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    z-index: 6;
}

.container .box-container span {
    font-size: 6.25rem;
    letter-spacing: 15px;
    text-shadow: 0 0 50px var(--black);
}

.container .box-container h1 {
    font-size: 12.5rem;
    letter-spacing: 30px;
    font-weight: normal;
    text-shadow: 0 0 50px var(--black);

}

.container .box-container  a {
    font-family: 'Poppins', 'sans-serif';
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 4px;
    background: var(--black);
    padding: 4px 15px;
    box-shadow: 0 0 15px var(--white);
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    animation: proPlayersText 1.5s ease-in-out infinite;
}

@keyframes proPlayersText {
    0% {
        box-shadow: 0 0 15px var(--white);
        background: var(--black);
        color: var(--white);
    }
    50% {
        box-shadow: 0 0 15px red;
        background: var(--white);
        color: var(--black);
    }
    
}

.videos-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.iframes {
    display: flex;
    flex-direction: column;
}

.videos-container .iframe {
    max-width: 100px;
    width: 100%;
    height: 100px;
    margin: 40px;
    border-radius: 50%;
    background-color: var(--black);
    position: relative;
    border: solid 1px var(--background-800);
    box-shadow: 0 0 10px var(--white);
}

.videos-container .iframe:hover {
    animation: boxShadow ease-in-out 1s infinite
}

@keyframes boxShadow {
    0% {
        box-shadow: 0 0 40px var(--white);
    }
    50% {
        box-shadow: 0 0 40px var(--blue-900);
    }
    100% {
        box-shadow: 0 0 40px var(--red);
    }
}

.videos-container .iframe img {
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
}

.videos-container .iframe h1 {
    font-weight: normal;
    text-align: center;
}

.videos-container .iframe p {
    display: none;
}

/* MODAL VIDEOS ABOUT PERSONAGENS */
.modal-videos {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);

    transition: all 0.4s;

    opacity: 0;
    visibility: hidden;
}

.modal-videos.active {
    opacity: 1;
    visibility: visible;
}

.modal-videos i {
    position: absolute;
    top: 5vh;
    right: 100px;
    transform: scale(2);
    cursor: pointer;
    animation: close-video ease-in-out 1s infinite;
}

.modal-videos i:hover {
    animation: close-video ease-in-out 1s;
}

@keyframes close-video {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-video-player {
    position: relative;
    background: black;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 15px white;
}

.modal-video-player iframe {
    width: 100%;
    height: 300px;
    border-bottom: solid 1px var(--white-900);
}

.modal-video-player h1,
.modal-video-player p {
    font-weight: normal;
    font-family: 'Poppins', 'sans-serif';
    text-transform: uppercase;
}

.modal-video-player h1 {
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 2px;
}

.modal-video-player p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--white-900);
}

