<div class="footer">
    
    <div class="links-footer">
        <a href="https://pc.warface.com/en/news/" target="_blank" >
            <p>Recent</p>
        </a> 
        <a href="https://pc.warface.com/en/news/" target="_blank" >
            <p>Popular</p>
        </a> 
        <a href="https://pc.warface.com/en/news/" target="_blank" >
            <p>Newest commented</p>
        </a> 
        
    </div>
    <div class="links-footer">
        <a href="https://pc.warface.com/en/game/" target="_blank" >
            <p>About Warface</p>
        </a> 
        <a href="https://pc.warface.com/en/game/tutorial/" target="_blank" >
            <p>Beginner area</p>
        </a> 
        <a href="https://pc.warface.com/en/download/" target="_blank" >
            <p>Download now</p>
        </a> 
        <a href="https://pc.warface.com/en/media/" target="_blank" >
            <p>Media</p>
        </a> 
        <a href="https://pc.warface.com/en/news/update/" target="_blank" >
            <p>Patch notes</p>
        </a> 
    </div>
    <div class="links-footer">
        <a href="https://pc.warface.com/forums/" target="_blank" >
            <p>Forum</p>
        </a> 
        <a href="https://pc.warface.com/en/community/" target="_blank" >
            <p>Social media</p>
        </a> 
        <a href="https://pc.warface.com/en/documents/" target="_blank" >
            <p>Documents</p>
        </a> 
        <a href="https://pvp.gg/" target="_blank" >
            <p>ESPORTES</p>
        </a> 
         
    </div>
    
</div>