<div id="home" class="header">

    <header>

        <div class="form-search">

            <div class="links">
                <a href="#theme">
                    <span class="logo">
                        <img src="/assets/logo-home.png" alt="Imagem de Logo">
                    </span>
                </a>    
            </div>

            <form action="/Parts" method="GET">
                <input 
                    type="text"
                    name="filter"
                    placeholder="O que você procura?"
                    value="{{filter}}"
                >
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>

            <div class="links">
                <a href="#">TESTE</a>    
                <a href="#">TESTE</a>    
            </div>
        </div>

    </header>

</div>