<div id="home" class="header">

    <header>

        <div class="form-search">

            <div class="links">
                <a href="#theme">
                    <span class="logo">
                        <img src="/assets/logo-home.png" alt="Imagem de Logo">
                    </span>
                </a>    
            </div>

            <form action="/Parts" method="GET">
                <input 
                    type="text"
                    name="filter"
                    placeholder="search"
                    value="{{filter}}"
                    autocomplete="off"
                    spellcheck="false"
                >
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>

            <div class="links pages">
                <div>
                    <a href="">Pro Players</a>    
                </div>
                <div>
                    <a href="">Login</a>
                </div>
            </div>
        </div>

    </header>

</div>


